
body {
    background: linear-gradient(310deg, #290f0f, #1f2f42);
    background-size: 400% 400%;
    -webkit-animation: backgroundGradient 23s ease infinite;
    -moz-animation: backgroundGradient 23s ease infinite;
    -o-animation: backgroundGradient 23s ease infinite;
    animation: backgroundGradient 23s ease infinite;
    overflow-x: hidden;
}

body .container {
    color: white;
    opacity: 1;
}

body .animate {
        animation: HiAnimation 2s ease 0s 1 normal forwards;
        margin-bottom: 75px;
}
.icon {
    height: 64px;
    border-radius: 5px;
}

.navbar-inverse {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.circle {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: white;
    opacity: 0;
    margin-bottom: 150px;
    visibility: hidden;
    animation: CircleAppear 2s ease 3s 1 normal forwards;
}

@keyframes CircleAppear {
    0% {opacity: 0; visibility: visible;}
    100% {opacity: 1; visibility: visible;}
}

@-webkit-keyframes backgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.typed-cursor{
    opacity: 1;
    position: relative;
    top: -5px;;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes HiAnimation {
    0% { font-size: 40em; position: relative; top: -300px; opacity: 0}
    50% { font-size: 40em; position: relative; top: -300px; opacity: 1}
    80% { font-size: 40em; position: relative; top: -300px; opacity: 1}
    100% { font-size: 2em; position: relative; top: 0px; opacity: 1}
}

hr {
    display: block;
    max-width: 50%;
    margin-top: 75px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E7E9ED;
    margin-bottom: 70px;
}
